* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
}

.container {
	width: 100%;
	padding: 0 10px;
}

.content {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	background-color: #eee;
}

#edit {
	border: 1px solid blue;
	padding: 10px;
}

#edit * {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

#edit .input {
	width: 100%;
	max-width: 400px;
	resize: none;
	border: 1px solid #999;
	border-radius: 5px;
}

.btn {
	height: min-content;
	padding: 5px;
	cursor: pointer;
}

#checklist {
	list-style: none;
}

.checklist-item {
	border: 1px dashed orangered;
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
}

.checklist-item-check {
	cursor: pointer;
}

.checklist-item-check:checked ~ .checklist-item-text {
	text-decoration: line-through;
}

.checklist-item * {
	margin: 0 10px;
}

.checklist-item-text {
	width: 100%;
}